<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fsoft_GiftCard::giftcard" title="Fsoft" module="Fsoft_GiftCard" sortOrder="11" resource="Fsoft_GiftCard::menu"/>
        <add id="Fsoft_GiftCard::code" title="Manage Code" module="Fsoft_GiftCard" sortOrder="10" action="giftcard/code/index" resource="Fsoft_GiftCard::code" parent="Fsoft_GiftCard::giftcard"/>
        <add id="Fsoft_GiftCard::configuration" title="Configuration" module="Fsoft_GiftCard" sortOrder="20" parent="Fsoft_GiftCard::giftcard" action="adminhtml/system_config" resource="Fsoft_GiftCard::giftcard"/>
    </menu>
</config>
