<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="giftcard_code_listing_data_source" xsi:type="string">giftcard_code_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="giftcard_code_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">giftcard_code</argument>
            <argument name="resourceModel" xsi:type="string">Fsoft\GiftCard\Model\ResourceModel\GiftCard</argument>
        </arguments>
    </virtualType>
    <type name="Fsoft\GiftCard\Controller\Index\Code">
        <plugin name="authentication" type="Magento\Sales\Controller\Order\Plugin\Authentication"/>
    </type>
    <type name="Magento\Quote\Model\CouponManagement">
        <plugin name="check_giftcard_code" type="Fsoft\GiftCard\Plugin\CheckCode" sortOrder="1" disabled="false"/>
    </type>
</config>

